RewriteEngine On
#RewriteBase /~user2/Booker/server/api/users/
RewriteBase /user2/Booker/server/api/employees/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php
DirectoryIndex index.php
